---
// component imports
import MainLayout from '../layouts/MainLayout.astro';
import PostCard from '../components/PostCard.astro';

// utils imports
import { formatBlogPosts } from '../js/utils';
import AboutMe from '../components/AboutMe.astro';

const allPosts = await Astro.glob('./blog/*.md');
const formattedPosts = formatBlogPosts(allPosts, {
  limit: 3
});
---

<MainLayout title="My Blog">
  <AboutMe />

  <section class="container max-w-screen-xl mx-auto px-5" aria-label="New Blog Posts">
    <div class="mt-16 text-center">
      <h2 class="text-4xl lg:text-5xl font-bold lg:tracking-tight">New Blog Posts</h2>
      <p class="text-lg mt-4 text-slate-500 mx-auto max-w-xl">
        We write about building startups and thoughts going on our mind.
      </p>
    </div>
    <div class="post-container mt-16">
      <ul class="grid sm:grid-cols-2 md:grid-cols-3 gap-10 lg:gap-16 pl-0">
        {
          formattedPosts.map((post: Post) => (
            <PostCard
              frontmatter={post.frontmatter}
              url={post.url}
              tagType="h3"
            />
          ))
        }
      </ul>
    </div>
  </section>
</MainLayout>
