---
---

<section class="container about mx-auto max-w-screen-lg" aria-label="About Me">
    <div class="grid sm:grid-cols-2 gap-10 mx-auto mt-24">
        <img
                class="rounded-xl w-full max-w-md mx-auto shadow-2xl"
                src="/images/programista.png"
                alt="My headshot"
                width="200"
                height="330"
        />
        <div class="content place-self-center flex flex-col gap-6">
            <h1 class="text-5xl text-gray-800 tracking-tight">
                <span class="font-bold">My</span> Blog
            </h1>

            <p class="text-lg max-w-xl mt-4 leading-relaxed text-slate-500">
                Lorem ipsum dolor, sit amet consectetur adipisicing elit. Aperiam quidem
                tempora beatae mollitia architecto optio sapiente repellendus natus.
                Minima reiciendis voluptatibus ratione quos exercitationem expedita
                commodi doloremque. Repellendus nulla nihil animi fuga voluptas amet
                fugit eveniet voluptates ab labore. Magnam.
            </p>

            <a href="mailto:chris@codinginpublic.dev"
               class="bg-gray-100 px-5 py-2 rounded-md hover:bg-gray-200 transition link primary w-fit"> Contact Me </a>
        </div>
    </div>
</section>