---
import { formatBlogPosts, slugify } from '../js/utils';

const allPosts = await Astro.glob('../pages/blog/*.md');
const formattedPosts = formatBlogPosts(allPosts);
const allCategories = formattedPosts
  .map((cat: Post) => cat.frontmatter.category.toLowerCase())
  .flat();

const processedCats = allCategories.reduce((acc: Record<string, number>, category: string) => {
  // check if the category exists in the acc
  const value = acc[category] || 0;

  return {
    ...acc,
    [category]: value + 1
  };
}, {});
---

<ul class="categories flex gap-6 pl-0">
  {
    Object.entries(processedCats).map(([key, _]) => (
      <li class="list-none">
        <a class="bg-gray-100 px-5 py-2 rounded-md hover:bg-gray-200 transition link primary text-nowrap" class="badge"
           href={`/category/${slugify(key)}/`}>{key}
      </li>
    ))
  }
</ul>