---
// library imports
// import { Icon } from "astro-icon";

// component imports
import Link from "./Link.astro";

// data imports
import navData from "../data/navData";
---

<header class="astronav-sticky-header sticky top-0 border-b z-20 transition-all is-active py-5 bg-white/80 border-gray-200 backdrop-blur-lg"
        aria-label="Primary">
    <div class="max-w-screen-xl mx-auto px-5 flex flex-col lg:flex-row justify-between items-center relative z-10">
        <a href="/" class="logomark" aria-label="Go home">
            <img
                    class="rounded-full w-14 h-14 drop-shadow-2xl shadow-2xl"
                    src="/images/programista.png"
                    alt="My headshot"
                    width="200"
                    height="330"
            />
            <!--<Icon name="logomark" width="60" />-->
        </a>
        <nav class="flex gap-6">
            {
                navData.map((item) => (
                        <Link
                                text={item.name}
                                href={item.path}
                                style="primary"
                                isFilled={false}
                                data-navLink
                        />
                ))
            }
        </nav>
    </div>
</header>

<script>
    import "../js/nav.js";
</script>
